*{margin:0px; padding: 0px; }
body{
    background: white;
    font-family: sans-serif;
margin:0px;
    padding: 0px;}
#header{width: 100%;height:60px;;background: #333;}
#navbar{padding-right:250px; width:1000px;height: 60px;float: right;margin-top: -42px;}
#navbar>li{width:200px;list-style:none;float: left;}
li>a{ background: #333; display:block;color:darkgray;line-height:60px;text-align: center;font-family: sans-serif;font-size: 25px;text-decoration: none;}
li>a:hover{background:orange;color:#333;}
#headerlogo{width: 125px; height: 55px;float: left;background: none;padding-left: 70px;}
#w-w{float: right;margin-top:20px;margin-right: 20px}
#w-w input[type="text"]{
    border: none;
    background: transparent;
     border-bottom: 1px solid lightgray;
    color: lightgray;outline: none;
    height: 20px;
}
#s-b-i{width: 25px; height: 25px;float: right;margin-right: 15px;margin-top: 15px;}
#info p{font-size: 40px;font-family:sans-serif ;margin-left: 300px;padding-top: 100px}
#info ul{margin-left: 400px;font-size: 20px;font-family:sans-serif;}
#infbackground{width: 80%;background-image:linear-gradient(lightgray,white);margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    width: 80%;}
#info img{width: 130px;height: 130px;float: left;margin-top: 62px;margin-left: 100px}
#slider1{width: 1150px;height:250px;margin-left: 32px;margin-top: 45px;transition: transform .2s;border-radius: 14px;}
#slider1:hover{transform: scale(1.1);}
#slider2{width: 1150px;height:250px;margin-left: 32px;margin-top: 45px;transition: transform .2s;border-radius: 14px;}
#slider2:hover{transform: scale(1.1);}
#home-imges img{width: 200px;height: 200px;margin-left: 33px;border-radius: 14px;margin-top: 40px;transition: transform .2s}
#home-imges img:hover{transform: scale(1.1);}
#banner img{width: 550px;height:250px;margin-left: 32px;margin-top: 45px;transition: transform .2s;border: 0px;border-radius: 14px;}
#banner img:hover{transform: scale(1.1);}
#adds-head-line{color:#333;font-size: 50px;font-family: sans-serif;margin-left: 30px;margin-top: 40px;}
#cata-img img{width: 250px;height: 200px;margin-left: 40px;margin-top: 70px;transition: transform .2s;border: 0px;border-radius: 14px;}
#cata-img img:hover{transform: scale(1.1);}
#footer{background: #333; flex: 1;display: flex;padding: 1em;justify-content: center;}
#footer-headliner1{color: orange;font-size: 20px;font-weight: 200;margin-bottom: 7px;font-family: sans-serif;padding-top: 5px;}
#footer-headliner2{color: orange;font-size: 20px;font-weight: 200;margin-bottom: 7px;font-family: sans-serif;padding-top: 5px;}
#footer-headliner3{color: orange;font-size: 20px;font-weight: 200;margin-bottom: 7px;font-family: sans-serif;padding-top: 5px;}
#footer-headliner4{color: orange;font-size: 20px;font-weight: 200;margin-bottom: 7px;font-family: sans-serif;padding-top: 5px;}
#footer-headliner5{color: orange;font-size: 20px;font-weight: 200;margin-bottom: 7px;font-family: sans-serif;padding-top: 5px;}
#NUM{color: lightgray;padding-bottom: 6px;}
a{color: lightgray;text-decoration: none;font-family: sans-serif;}

#footer-text1{
    display: inline;
    float: left;
    margin-left:50px ;
    
}
#footer-text2{
    display: inline;
    float: left;
    margin-left:50px ;
}
#footer-text3{
    display: inline;
    float: left;
    margin-left:50px ;
}
#footer-text4{
    display: inline;
    float: left;
    margin-left:50px ;
}

#icon img{width: 40px;;height: 40px;;padding-right: 10px;}
#lower-footer{background: gray;height: 40px;width: 100%;}
#lower-footer-text{text-align: center;color: black;font-family: inherit;padding-top: 10px}
#mail a{display: inherit;color:skyblue}
#table-footer{color: lightgray;}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    
    background-color:orange;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn:hover{
    background-color: #555;
}
#ww{width: 100%;height: 703px;}
 .LogInBox{ width: 320px;
        height: 420px;
        background: black;
        color: #fff;
        top: 20%;
        left: 40%;
        position: absolute;
        box-sizing: border-box;
        padding: 70px 30px;
    }
.user{
    width: 100px;
    height: 100px;
   
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{ font-family: sans-serif;
    margin: 0;
    padding: 0 0 20px;
   
    font-size: 22px;
}
.LogInBox p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    font-weight: bold;
}
.LogInBox input{
    width: 100%;
    margin-bottom: 20px;
}
.LogInBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.LogInBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #C2560D;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.LogInBox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
.LogInBox a{ font-family: sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: darkgrey;
}
.LogInBox a:hover
{
    color: #ffc107;
}
  .SignUpBox{ width: 320px;
        height: 620px;
        background: black;
        color: #fff;
        top: 20%;
        left: 40%;
        position: absolute;
        padding: 35px 30px;
    }
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    
    font-size: 22px;
    font-family: sans-serif;
}
.SignUpBox p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
.SignUpBox input{
    width: 100%;
    margin-bottom: 20px;
}
.SignUpBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.SignUpBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #C2560D;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
     margin-top: 30px;
}
.SignUpBox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
   


}
.SignUpBox a:hover
{
    color: #ffc107;
}
#text-postion{margin-bottom: 20px;}
#radio-postion{margin-top: -57px;}
#we{width: 100%;height: 900px;}
    .SellBox{ width: 320px;
        height: 850px; 
        background: black;
        color: #fff;
        top: 30%;
        margin: 0px;
        left: 40%;
        position: absolute;
        padding: 25px 30px;
    }
.sell{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);}

h1{
    margin: 0;
    padding: 0 0 15px;
 
    
    font-size: 22px;
}
.SellBox p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
.SellBox input{
    width: 100%;
    margin-bottom: 20px;
}
.SellBox input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.SellBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #C2560D;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 30px;
}
.SellBox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
#bg-sell{width: 100%;height: 1150px;}
#raido-pos{margin-top:-86px; }
#text-pos p{margin-top:18px;}
#mob-img{width: 290px;height: 270px;border-radius: 14px;margin-top: 30px;margin-left: 40px;}
#mob-page-text{position: absolute;margin-left: 400px;margin-top: 50px;}
#mob-page-text p{font-family:sans-serif;margin-top: 10px;margin-left: 50px;}

#mob-page-text spam{color: orange;}
#frt{width: 290px;height: 270px;border-radius: 14px;}
#img-pos{margin-top: 30px;margin-left: 40px;}
#mob-page-text input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: orange;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    width: 50px;
    margin-left: 50px;
    margin-top: 8px;}
#mob-page-text input[type="submit"]:hover{ background: #333;}